@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");


.Weather {
  font-family: "Quicksand", Arial, sans-serif;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  text-align: center;
  background: rgb(63,131,255);
  }

.Weather h1{
  color: rgb(255,255,255);
  font-size: 24px;
  font-weight: 600;
  line-height: 60px;
  margin: 20px 0 0 0;
  margin-bottom: 0;
  text-align: center;
}

.weather ul {
  margin: 0;
  padding: 0;
}

.Weather li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: rgb(255,255,255);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-top : 10px;
}

.Weather .btn-primary{
  background: #3f83ff;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.Weather .temperature{
  color: rgb(255,255,255);
  font-size: 55px;
  line-height: 1;
  font-weight: 400;
  margin-left: 10px;

}



.Weather .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  font-weight:400;
  color: rgb(255,255,255);
  line-height: 1;
}