@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

.WeatherForecast {
    margin-top: 30px;
    text-align: center;
    color: rgb(255,255,255);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    height: 15px;
    line-height: 10px;
    padding-top: 7px;
    font-family: "Quicksand", Arial, sans-serif;
    
  }
  
  .WeatherForecast-temperature-min {
    opacity: 0.6;
    margin-left: 5px;
  }